.cities {
  display: grid;

  grid-template-columns: repeat(auto-fit, minmax(20vw, 1fr));
  gap: 2em;
  width: 95vw;
  margin: 0 auto;
  .city {
    aspect-ratio: 16 / 9;
    position: relative;
    min-width: 20vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    // padding: 1rem;

    cursor: pointer;
    transition: all 0.3s ease-in-out;
    text-decoration: unset;
    color: unset;

    border-radius: 10px;
    background: #ededed;
    box-shadow: 20px 20px 23px #d5d5d5, -20px -20px 23px #ffffff;
    &:hover {
      background-color: #f5f5f5;
    }
    .cityName {
      color: rgb(0, 0, 0);
      font-size: 1.6rem;
      font-weight: 900;
      font-family: sans-serif;
      font-weight: bold;
      position: absolute;
      bottom: 2em;
      left: 0;
      right: 30%;
      background-color: rgba(213, 213, 213, 0.7);
     
      padding: .5em 1em;
      height: 5vh;
      display: flex;
      align-items: center;
      // justify-content: center;
      border-radius: 0 10px 10px 0;
      transition: all 0.3s ease-in-out;
    }
  }
}
.searchBar {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 4rem 0;
  gap: 1rem;
  text-align: center;
  input {
    transition: all 0.3s ease-in-out;
  }
}

.cityTemplate {
  min-height: 30vh;
  width: 100%;
  background-position: center;
  // background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 110% 110%;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  text-decoration: unset;
  color: unset;
  border-radius: 10px;
  box-shadow: 20px 20px 23px #d5d5d5, -20px -20px 23px #ffffff;
  aspect-ratio: 16 / 9;
  &:hover {
    background-position: 0 0;

      .cityName{
        bottom: 0;
        width: auto;
        right: 0;
        left: 0;
        transition: all 0.3s ease-in-out;
        height: 8vh;
      }
    
  }
}
