.weather {
  display: flex;
  width: 90vw;
  margin: 0 auto;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  gap: 1em;
  padding: 1em;
  border-radius: 10px;
  margin-top: 10vh;
  padding: 5vh 1em;
  h1 {
    margin: 0 auto;
    margin-bottom: 5vh;
  }
  // background: #ededed;
  box-shadow: 0px 0px 23px #d5d5d5, -20px -20px 23px #ffffff;
  margin-bottom: 5vh;
  .weatherContainer {
    position: relative;
    max-width: 100%;
    height: 70vh;
    aspect-ratio: 16 / 9;
    background-size: min(100%, 100%);
    background-repeat: no-repeat;
    margin: 0 auto;
    border-radius: 15px;
    
    .weatherInfo {
      border-radius: 15px;
      position: absolute;
      bottom: 0;
      width: calc(100% - 2em);
      color: white;
      background-color: rgba(0, 0, 0, 0.5);
      padding: 1em;
    }
  }

  .notes {
    // height: 50vh;
    width: 80vw;
    .notesAdd{
    
      width: 100%;
      gap: 1em;
      
    }
    .addButton{
      border-radius: 5px;
      color: white;
      border: unset;
      padding: 0.5em 1em;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #4e4e4e;
      cursor: pointer;
      transition: all 0.3s ease-in-out;
      text-decoration: unset;
      color: unset;
      border: unset;
      background: unset;
      box-shadow: unset;
      &:hover {
        color: #d9d9d9;
      }
    }
    .notesNav {
      position: relative;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 5vh 0;

      .add {
        cursor: pointer;
        transition: all 0.3s ease-in-out;
        text-decoration: unset;
        color: unset;
        border: unset;
        background: unset;

        &:hover {
          color: #d9d9d9;
        }
      }
    }
    .notesContainer {
      padding: 2em 0;
      display: flex;
      flex-direction: column;
      
      .note {
        position: relative;
        width: 80vw;
        margin: 1em 0;
        transition: all 0.3s ease-in-out;
        display: flex;
        padding-bottom: 1em;
        border-bottom: 1px solid #bbbbbb;

        p {
          margin: 0;
        }
        .date {
          font-size: 0.8rem;
          font-weight: 600;
          color: #a0a0a0;
        }
        .text {
        }
        .buttons {
          position: absolute;
          right: 0;
          display: flex;
          visibility: hidden;
          opacity: 0;
          transition: all 0.3s ease-in-out;
          button {
            border: unset;
            background-color: unset;
            &:hover {
              opacity: 0.5;
            }
          }
        }
        &:hover {
          .buttons {
            opacity: 1;
            visibility: visible;
          }
        }
      }
    }
  }
  .popup{
    height: 80%;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content:first baseline;
    gap: 1em;
    position: relative;
    h2{
      text-align: center;
    }
    nav{
      position: absolute;
      right: 0;
      bottom: 0;
      display: flex;
      justify-content: space-between;
      
    }
  }
}
// button{

//   color: #4e4e4e;
// }
